@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fullScreen {
    @apply h-screen w-full;
  }
  .textSetup {
    @apply font-Ubuntu text-white opacity-0 drop-shadow-sm;
  }
  .button {
    @apply lg:p-[1.5] lg:w-[12rem] sm:p-4 sm:w-[12rem] rounded-[20px] border-none bg-gradient-to-r from-[#f1553a] to-[#632217] text-white cursor-pointer text-base animate-[animaBanner_1s_1s_forwards] opacity-0 font-Ubuntu delay-150 transition duration-700;
  }

  .h2-class {
    @apply flex items-center text-[1.5rem] text-white;
  }
  .p-class {
    @apply font-medium font-Bitter mt-4 text-white drop-shadow-[1px_2px_3px_black];
  }

  /* knowledge page */

  .title-Bar {
    @apply flex justify-center items-center text-center  h-1 mx-auto my-0 bg-white border-none rounded-3xl;
  }

  .knowledge-box {
    @apply lg:h-[110px] md:h-[90px] sm:h-[70px] lg:w-[110px] md:w-[90px]  sm:w-[70px] mx-5 bg-white rounded-xl flex justify-center items-center my-10 hover:bg-[#adadad] p-[1rem] transition duration-200 hover:scale-110;
  }
  .hover-transition {
    @apply relative transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-700 rounded-md;
  }
  .hover-text {
    @apply justify-center text-center font-semibold opacity-0 absolute lg:top-[12rem] sm:top-[9rem] left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-opacity ease-in-out duration-300 text-white font-Ubuntu sm:text-sm lg:text-base;
  }

  .hover-transition:hover .hover-text {
    @apply opacity-100 text-white;
  }

  /* projects page  */

  .project-box {
    @apply lg:h-[38rem] lg:w-[25rem] sm:w-[15rem] sm:h-[25rem] rounded-3xl bg-white p-6 m-4;
  }

  .animationBox {
    @apply transition duration-300 ease-in-out transform hover:scale-105;
  }

  .project-box:hover {
    @apply bg-[#7e7e7e] shadow-3xl transition duration-300;
  }

  .title-Project {
    @apply opacity-0;
  }
  .project-box:hover .title-Project {
    @apply animate-[animaBanner_1s_0.1s_forwards]  text-white;
  }

  .subtitle-Project {
    @apply opacity-0;
  }
  .project-box:hover .subtitle-Project {
    @apply animate-[animaBanner_1s_0.3s_forwards]  text-white;
  }

  .project-card-button {
    @apply lg:p-[1.5] lg:w-40 lg:h-[10%] sm:w-[9rem] sm:p-[0.5rem] mb-2 text-center bg-black text-white rounded-[20px] border-none opacity-0;
  }

  .project-box:hover .project-card-button {
    @apply animate-[animaBanner_1s_0.5s_forwards] text-white;
  }

  /* projects page  */

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
