@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fullScreen {
    @apply h-screen w-full;
  }
  .textSetup {
    @apply font-Ubuntu text-white opacity-0 drop-shadow-sm;
  }
  .button {
    @apply lg:p-[1.5] lg:w-[12rem] sm:p-4 sm:w-[12rem] rounded-[20px] border-none bg-gradient-to-r from-[#f1553a] to-[#632217] text-white cursor-pointer z-[100] text-base animate-[animaBanner_1s_1s_forwards] opacity-0 font-Ubuntu;
  }

  .h2-class {
    @apply flex items-center text-[1.5rem] text-white;
  }
  .p-class {
    @apply font-medium font-Bitter mt-4 text-white drop-shadow-[1px_2px_3px_black];
  }

  /* knowledge page */

  .title-Bar {
    @apply flex justify-center items-center text-center  h-1 mx-auto my-0 bg-white border-none rounded-3xl;
  }

  .knowledge-box {
    @apply h-[120px] w-[120px] mx-5 bg-white rounded-xl flex justify-center items-center my-10 hover:bg-[#adadad] transition duration-200;
  }
  .hover-transition {
    @apply relative transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 rounded-md;
  }
  .hover-text {
    @apply justify-center text-center font-semibold opacity-0 absolute top-[12rem] left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-opacity ease-in-out duration-300 text-white font-Ubuntu;
  }

  .hover-transition:hover .hover-text {
    @apply opacity-100 text-white;
  }

  /* projects page  */

  .project-box {
    @apply h-[684.812px] w-[471.744px] rounded-3xl bg-white p-6;
  }

  .animationBox {
    @apply transition duration-300 ease-in-out transform hover:scale-105;
  }

  .project-box:hover {
    @apply bg-[#7e7e7e] shadow-3xl transition duration-300;
  }

  .title-Project {
    @apply opacity-0;
  }
  .project-box:hover .title-Project {
    @apply animate-[animaBanner_1s_0.1s_forwards]  text-white;
  }

  .subtitle-Project {
    @apply opacity-0;
  }
  .project-box:hover .subtitle-Project {
    @apply animate-[animaBanner_1s_0.3s_forwards]  text-white;
  }

  .project-card-button {
    @apply p-[1.5] w-[12rem] h-[10%] text-center bg-black text-white rounded-[20px] border-none;
  }

  /* projects page  */

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
